* {
  font-family: Roboto;
}

body {
  background-image: url("ritam-baishya-ROVBDer29PQ-unsplash.jpg");
  margin: 0;
}

#name-app {
  font-size: 24px;
  color: white;
}

#current-date {
  text-align: center;
}

header {
  margin: 6px;
}

h1 {
  text-transform: capitalize;
  margin: 80px 60px 40px;
  text-align: center;
  font-weight: 900;
  font-size: 48px;
}

#current-position {
  margin-bottom: 32px;
}


#submit-city-button {
  margin-bottom: 1rem;
  min-width: 80px;
}

#temperature-card {
  background-color: antiquewhite;
  margin-bottom: 20px;
}

#today-and-photo {
  padding-top: 20px;
  font-size: calc(24px + 1.5vw);
}

#today-card {
  text-align: left;
  line-height: calc(24px + 6vw);
}

#icon {
  min-width: 100px;
  max-width: 9vw;
}

#current-temperature {
  text-align: center;
  font-size: calc(24px + 5vw);
}

#current-temp-card {
  padding: 20px;
}

#submit-button-cel1 {
  font-size: 24px;
  margin: 5px;
}

#submit-button-far1 {
  font-size: 24px;
  margin: 5px;
}

.active {
  text-decoration: none;
  color: black;
  cursor: default;
}

#wind-speed {
  color: red;
}

#humidity {
  color: red;
}

#weather-description {
  display: block;
  color: grey;
}

#weather-description::first-letter {
  text-transform: uppercase;
}

#forecast-card {
  padding: 10px;
  background-color: antiquewhite;
  margin-bottom: 20px;
}

#forecast-day {
  font-size: calc(10px + 1vw);
}

#forecast-img {
  min-width: 50px;
  max-width: 5vw;
}

#forecast-temp-max {
  font-size: calc(8px + 0.5vw);
}

#forecast-temp-min {
  font-size: calc(8px + 0.5vw);
  opacity: 0.5;
}

footer {
  text-align: center;
}
